@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h1 class="display-4 fw-bold">Welcome to ZEDOTECH</h1>
    <p class="fw-bold">Demonstrate how to use Google OAuth 2.0 through pure javascript and combine it with .NET Core cookie-based Authentication</p>
</div>